.mat-icon {
    font-size: 20px !important;
}
.highlight {
    background-color: rgba(238, 238, 238, 1) !important;
    color:#526691 !important;
}
.mat-tree-node {
    overflow: visible;
    cursor: pointer;
    font-size: 13px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 30px !important;
    height: 30px;
}
 
.structure-node {
    font-weight: bolder;
}

.leaf-node {
    font-style: italic;
    margin-left: 10px;
}

.drop-above {
    border-top: 2px solid green;
}
  
.drop-below {
    border-bottom: 2px solid yellow;
}
/*  
.drop-center {
    border: 2px solid green;
}
  
.drag-start {
    background-color: #90bdf0;
    color: honeydew;
}
  
.drop-not-allowed {
    background-color: rgb(212, 161, 161);
color: honeydew;
    border: 2px solid rgba(199, 14, 14, 0.89);
} */
