<label>{{flatNodeMap.size}}</label><br>
<mat-tree
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    [id]="id"
    class="myTree"
    >
    <mat-tree-node
        *matTreeNodeDef="let node;"
        matTreeNodePadding
        [ngClass]="[node.expandable ? 'structure-node' : 'leaf-node',  activeNodes.indexOf(node) != -1 ? 'highlight' : '']"
        [attr.treeid]="id"
        [attr.isroot]="node.item === 'Unternehmen'"
        [attr.isfolder]="node.isFolder"
        class="droppable"
        (mousedown)="mouseDown($event, node)"
        (mouseup)="mouseUp($event, node)"
        (mousemove)="onMouseMove($event, node)"
        (click)="updateActiveNodes($event, node)"
    >
        <button
            class="droppable"
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.item"
            *ngIf="node.expandable"
            >
            <mat-icon class="mat-icon-rtl-mirror">
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
        </button>
        <div class="nodeContent droppable" 
            [id]="node.id"
            [attr.treeid]="id"
            [attr.isfolder]="node.isFolder"
            class="droppable"
            [ngClass]="{ 'highlight': activeNodes.indexOf(node) != -1 }"
        >
            {{ node.item }} <!-- (Parent: {{node.parentId}}, Id: {{ node.id }}) -->

        </div>
    </mat-tree-node>
</mat-tree>
