.mat-icon {
    font-size: 20px !important;
}
.highlight {
    color: rgba(60, 60, 224, 0.89) !important;
}
.mat-tree-node {
    overflow: visible;
    cursor: move;
    font-size: 13px !important;
    min-height: 30px !important;
    height: 30px;
}
 
.structure-node {
    font-weight: bolder;
}

.leaf-node {
    font-style: italic;
    margin-left: 10px;
}

.drop-above {
    border-top: 10px solid #a8e6bf;
    /* margin-top: -10px;*/
}
  
.drop-below {
    border-bottom: 10px solid #a8e6bf;
    /* margin-bottom: -10px;*/
}
  
.drop-center {
    background-color: #a8e6bf;
}
  
.drag-start {
    background-color: #90bdf0;
    color: honeydew;
}
  
.drop-not-allowed {
    background-color: rgb(212, 161, 161);
    color: honeydew;
} 

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }