<table>
  <tr>
    <td width="1500px" style="vertical-align: top;">
      <button (click)="add()">Neuer Eintrag</button>
    </td>
    <td width="500px">
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
  <tr>
    <td height="500px" style="vertical-align: top;">
      <app-material-tree #treeTarget [id]="'tree1'" (dragStarted)="dragStarted($event)" (dragStopped)="dragStopped()" [dataKey]="1"></app-material-tree>
    </td>
    <td height="100px" style="vertical-align: top;">
      <app-material-tree #treeSource [id]="'tree2'" [connectedTo]="'tree1'" (dragStarted)="dragStarted($event)" [generateNewIdOnDrag]="true" [orderAllowed]="false" (dragStopped)="dragStopped()" [dataKey]="2"></app-material-tree>
    </td>
  </tr>
</table>
<!--<h4>Basic mat-select</h4>
<div style="display: flex; justify-content: center; width: 400px">

	<form class="example-form">
		<mat-form-field class="example-full-width" style=" width: 400px;height:300px">
			<input type="text"
           aria-label="Number"
           matInput
           [matAutocomplete]="auto">
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				<mat-option disabled>Please select an item from below</mat-option>
        <app-material-tree #treeTarget [dataKey]="1"></app-material-tree>
			</mat-autocomplete>
		</mat-form-field>
	</form>
</div>-->
