<table style="height: 100%;">
  <tr style="height: 50px;">
    <td width="500px" style="vertical-align: top;">
      <button (click)="add()" [disabled]="this.treeTarget.activeNodes.length != 1">Neuer Eintrag</button>
      <button (click)="remove()" [disabled]="this.treeTarget.activeNodes.length == 0 || this.treeTarget.rootSelected">Löschen</button>
    </td>
    <td width="500px">
    </td>
    <td width="500px">
    </td>
  </tr>
  <tr>
    <td height="700px" style="vertical-align: top;">
      <app-material-tree #treeTarget [id]="'tree1'" [allowMultiselect]="false" [dataKey]="1"></app-material-tree>
    </td>
    <td height="300px" style="vertical-align: top;background-color: burlywood;">
    </td>
    <td height="700px" style="vertical-align: top;">
      <app-material-tree #treeSource [id]="'tree2'" [allowMultiselect]="true" [generateNewIdOnDrag]="true" [dropAllowed]="false" [dataKey]="2"></app-material-tree>
    </td>
  </tr>
</table>
<!--<h4>Basic mat-select</h4>
<div style="display: flex; justify-content: center; width: 400px">

	<form class="example-form">
		<mat-form-field class="example-full-width" style=" width: 400px;height:300px">
			<input type="text"
           aria-label="Number"
           matInput
           [matAutocomplete]="auto">
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				<mat-option disabled>Please select an item from below</mat-option>
        <app-material-tree #treeTarget [dataKey]="1"></app-material-tree>
			</mat-autocomplete>
		</mat-form-field>
	</form>
</div>-->
